body{
  margin: 0px;
  padding: 0px;
}

#header{
  display: flex;
  flex-wrap: wrap;
}

#header-img{
  flex-grow: 1;
}

#header img{
  width: 10px;
}

#nav-bar{
  background: #333;
  flex-grow: 11;
}

nav ul{
  list-style-type: none;
  padding: 0px;
  display: flex;
  justify-content: space-around;
}
