@import url(https://fonts.googleapis.com/css?family=Lobster);

body{
  margin: 0px;
  padding: 0px;
  font-family: cursive;
  position: relative;
}

h1{
  font-family: Lobster;
}

#header{
  display: flex;
  flex-wrap: wrap;
  border-bottom: 2px solid #333;
  position: fixed;
  top: 0px;
  width: 100%;
  background: #333;
  float: left;
}

#header-img{
  flex-grow: 1;
  margin-left: 2%;
}

#header img{
  width: 1%;
}

#nav-bar{
  flex-grow: 11;
}

nav ul{
  list-style-type: none;
  padding-top: 1.5%;
  display: flex;
  justify-content: space-around;
}

nav a{
  text-decoration: none;
  color: #fff;
}

main{
  margin-top: 9%;
}

main img{
  width: 100%;
  height: auto;
}

#video{
  margin: 10px 10%;
  width:80%;
  height:480px;
}

.col-quarter{
  width: 19%;
  margin: 2% 1%;
  float: left;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  padding: 2%;
}

footer{
  width: 80%;
  background: #333;
  padding: 2% 10%;
  float: left;
   color: #fff;
}

footer input[type="email"]{
  width: 60%;
  height: 45px;
  padding: 1px 2.5%;
}

footer input[type="submit"]{
  width: 10%;
  height: 50px;
  background: green;
  color: #fff;
  border: none;
}

@media screen and  (max-width: 760px){
  .col-quarter{
    width: 94%;
  }

  footer input[type="email"]{
    width: 94%;
    margin-bottom: 1%;
  }

  footer input[type="submit"]{
    width: 100%;
  }

  #video{
     height:200px;
  }

  #header{
    display: block;
    text-align: center;
    padding-top: 1%;
  }

  #header img{
    width: 50%;
  }

  main{
    margin-top: 70%;
  }
}
