body{
  margin: 0px;
  padding: 0px;
}

#header{
  display: flex;
  flex-wrap: wrap;
}

#header-img{
  flex-grow: 1;
  background: pink;
}

#header img{
  width: 10px;
}

#nav-bar{
  flex-grow: 10;
}
